.stars {
    width: 220px;
    height: 52px;
    text-align: center;
    transform: translate(4%, 0%);
}

.stars .star {
   width: 60px;
   position: absolute;
   top: 0;
   font-size: 30px;
   color: #FFFD5A;
   text-shadow: 1px 2px 4px #C3C11C;
   padding: 0 5px;
}

.stars-ghost {
   width: 0px;
   position: relative;
   float: left;
   overflow: hidden;
   height: 100%;
   z-index: 2;
}

.stars .star:nth-child(1) {
   left: 0;
}

.stars .star:nth-child(2) {
   left: 34px;
}

.stars .star:nth-child(3) {
   left: 68px;
}

.stars .star:nth-child(4) {
   left: 102px;
}

.stars .star:nth-child(5) {
   left: 136px;
}

